# Configurações de Deploy HostGator (Copie para .env.deploy e preencha sua senha)
FTP_HOST=ftp.deven.com.br
FTP_USER=lunyer90
FTP_PASS=SUA_SENHA_CPANEL_OU_FTP
FTP_PORT=21
REMOTE_PATH=/atapremium.deven.com.br/wp-content/themes/atapremium
